<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<!--/* Title of this template will be passed to the head fragment along with custom links and scripts */-->
<head th:include="fragments/layout :: head(~{:: title})">
    <title>Add Comment</title>
</head>
<body>

<!--/* The element with breadcrumb class will be passed to the header fragment */-->
<header th:replace="fragments/layout :: header(~{ :: .breadcrumb})">
    <ol class="breadcrumb container">
        <li>
            <a th:href="@{/}">Home</a>
        </li>
        /
        <li>
            <a th:href="@{/comments}">Comments</a>
        </li>
        /
        <li>
            <a th:href="@{/comments/addComment}">Add</a>
        </li>
    </ol>
</header>


<!--/* Insert content fragment with content of the element with id = 'cars-list' */-->
<div th:replace="fragments/layout :: content(value = ~{:: #add-comment})">

    <div id="add-comment" class="row" >
        <form th:action="@{/comments/addComment}" th:object="${comment}" method="post">
            <div class="form-group">
                <label for="Text">Text</label>
                <input type="text" th:field="*{text}" id="Text" placeholder="Text" class="form-control">
                <span th:if="${#fields.hasErrors('text')}" th:errors="*{text}"></span>
            </div>

            <div class="form-group">
                <label for="Date">Date</label>
                <input type="text" th:field="*{date}" id="Date" placeholder="Date" class="form-control">
                <span th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></span>
            </div>

            <div style="display:none;" class="form-group">
                <label for="text">Street</label>
                <input type="text" th:field="${user.id}" id="userID" class="form-control">
            </div>

            <button type="submit" class="btn btn-primary mt-5">Create</button>
        </form>
    </div>

</div>

<footer th:replace="fragments/layout :: footer">Footer</footer>
</body>
</html>